In [3]:
import numpy as np
print('Examen')

Examen

In [4]:
print('2) Crear un vector de ceros de tamaño 10')

2) Crear un vector de ceros de tamaño 10

In [5]:
vector_zeros_10= np.zeros(10)
vector_zeros_10

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [6]:
print('3) Crear un vector de ceros de tamaño 10 y el de la posicion 5 sea igual a 1')

3) Crear un vector de ceros de tamaño 10 y el de la posicion 5 sea igual a 1

In [7]:
vector_zeros_10_1= np.zeros(10)
vector_zeros_10_1[5] =1
vector_zeros_10_1

array([0., 0., 0., 0., 0., 1., 0., 0., 0., 0.])

In [8]:
## 4) Cambiar el orden de un vector de 50 elementos, el de la posicion 1 es el de la 50 etc.

In [9]:
vector_50_invertido = np.arange(50,0,-1)
vector_50_invertido

array([50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34,
       33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17,
       16, 15, 14, 13, 12, 11, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1])

In [10]:
## 5) Crear una matriz de 3 x 3 con valores del cero al 8

In [14]:
matriz_3_3 = np.arange(0,9).reshape(3,3)
matriz_3_3

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [16]:
## 6) Encontrar los indices que no sean cero en un arreglo

In [17]:
arreglo = [1,2,0,0,4,0]

In [44]:
arreglo_np = np.nonzero(arreglo)
print(arreglo_np[0])

[0 1 4]

In [45]:
## 7) Crear una matriz de identidad 3 x 3

In [49]:
matriz_zeros_33 = np.identity(3)
matriz_zeros_33

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [50]:
## 8) Crear una matriz 3 x 3 x 3 con valores randomicos

In [67]:
matriz_ones_27 = np.random.rand(3,3,3)
matriz_ones_27

array([[[0.01888458, 0.78467795, 0.40869962],
        [0.51738775, 0.04087159, 0.72696522],
        [0.38093211, 0.51206553, 0.0427082 ]],

       [[0.36831074, 0.11699093, 0.6900299 ],
        [0.30970698, 0.80165274, 0.45116554],
        [0.06562942, 0.04847241, 0.62262112]],

       [[0.49131708, 0.26711686, 0.20102621],
        [0.28582931, 0.44230715, 0.65956255],
        [0.68521759, 0.90547946, 0.06879926]]])

In [68]:
## 9) Crear una matriz 10 x 10 y encontrar el mayor y el menor

In [74]:
matriz_10_10 = np.random.rand(10,10)
matriz_10_10
print(f'Mayor: {matriz_10_10.max()}')
print(f'Menor: {matriz_10_10.min()}')

Mayor: 0.9957548260659886
Menor: 0.0025654967549118

In [75]:
## 10) Sacar los colores RGB unicos en una imagen (cuales rgb existen ej: 0, 0, 0 - 255,255,255 -> 2 colores)

In [84]:
from PIL import Image
im = Image.open('logo.jpg')
logo = np.array(im)

In [86]:
#11) ¿Como crear una serie de una lista, diccionario o arreglo?

In [ ]:
11) ¿Como crear una serie de una lista, diccionario o arreglo

In [88]:
import pandas as pd
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [92]:
serie_lista = pd.Series(mylist)
serie_lista

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [94]:
serie_arr = pd.Series(myarr)
serie_arr

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int32

In [96]:
serie_dict = pd.Series(mydict)
serie_dict

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

In [97]:
## 12) ¿Como convertir el indice de una serie en una columna de un DataFrame?

In [103]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
ser

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

In [119]:
# Transformar la serie en dataframe y hacer una columna indice
df = pd.DataFrame(ser.index)
df

    0
0   a
1   b
2   c
3   e
4   d
5   f
6   g
7   h
8   i
9   j
10  k
11  l
12  m
13  n
14  o
15  p
16  q
17  r
18  s
19  t
20  u
21  v
22  w
23  x
24  y
25  z

In [120]:
## 13) ¿Como combinar varias series para hacer un DataFrame?

In [130]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
print(ser1)
print(ser2)

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int32

In [125]:
series_com = pd.DataFrame([ser1,ser2])
series_com

  0  1  2  3  4  5  6  7  8  9  ...  16  17  18  19  20  21  22  23  24  25
0  a  b  c  e  d  f  g  h  i  j ...   q   r   s   t   u   v   w   x   y   z
1  0  1  2  3  4  5  6  7  8  9 ...  16  17  18  19  20  21  22  23  24  25

[2 rows x 26 columns]

In [131]:
## 14) ¿Como obtener los items que esten en una serie A y no en una serie B?

In [132]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [ ]:
ser1.